body {
color: #000;
font-family: 'Roboto_Light';
font-size: 13.5px;
background: linear-gradient(0deg, rgba(240, 248, 255, 0.9), rgba(240, 248, 255, 0.9)), #FFFFFF;
}
/* font */
@font-face {
font-family: 'InterMedium';
src: url(../font/InterMedium.ttf);
}
@font-face {
font-family: 'Roboto';
src: url(../font/RobotoRegular.ttf);
}

@font-face {
font-family: 'Roboto_Light';
src: url(../font/RobotoLight.ttf);
}
@font-face {
font-family: 'RobotoMedium';
src: url(../font/RobotoMedium.ttf);
}
::-webkit-scrollbar {
width: 8px;
height:8px;
}
::-webkit-scrollbar-track {
background:#ddd;
}
::-webkit-scrollbar-thumb {
background: #ccc;
border-radius:2px;
}
::-webkit-scrollbar-thumb:window-inactive {
background: #ccc;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
background: none;
border:0px;
}
.nav-tabs>li>a{
border:0px;
}
a,
a:hover,
a:link,
a:active,
a:focus {
text-decoration: none;
}
button {
outline: none;
}
ul {
list-style-type: none;
padding-left: 0px;
margin-bottom: 0px;
}
.container-cus,
[class*="col-"],
.container-fluid ,.container{
padding-left: 0px;
padding-right: 0px;
}
/* font */
.none-padding {
padding-left: 0px;
padding-right: 0px;
}
/* padding */
.padd-left-15 {
padding: 0px 0px 0px 15px !important
}
.padd-right-15 {
padding: 0px 15px 0px 0px !important
}
.padd-top-15 {
padding-top: 15px;
}
/*end padding */
/* margin */
.mar-left-15 {
margin-left: 15px;
}
.mar-top-15 {
margin-top: 15px;
}
.mar-top-20 {
margin-top: 20px;
}
.mar-bot-30 {
margin-bottom: 30px;
}
/* end margin */
.btn-popup{
	background: #0F51AA;
	color: #fff;
	border:0px;
	border-radius: 4px;
	padding: 6px 12px;
}
#background {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 230px;
background: rgba(0, 136, 207, 0.12);
z-index: -1;
}
.container-header{
height: 90px;
background: url(../images/bg.svg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.bg-header{
height: 90px;
display: flex;	 
align-items: center;  
padding: 0px 10px;
justify-content: space-between;
}
.header-left img{
height: 65px;
}
.header-center{
width: auto;
position: absolute;
left: 50%;
transform: translateX(-50%);
top: -65px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.header-center ul li,.header-right ul li{
display: inline-block;
}
.header-right ul li{
padding:3px 5px;
}
.header-right ul li img{
height: 24px;
}
.header-right ul li:last-child{
padding-right: 0px;
}
.dropdown-content {
display: none;
position: absolute;
right: 0;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 3;
}
.dropdown-content a {
color: black;
padding: 10px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropbtn {
background:none;
border: none;
}
.header-center ul{
background: rgba(0, 136, 207, 0.3);
border-radius: 30px;
width:auto;
padding: 3px;
}
.header-center ul li{
padding: 6px 15px;
}
.header-center ul li a{
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
color: #fff;
}
.header-center ul li.active,.header-center ul li:hover{
background: #0088CF;
border-radius: 30px;
}
.header-center ul li.active a,.header-center ul li:hover a{
/*font-family: "Roboto";*/
}
.container-custom{
width:1153px;
}
.box-search {
width: 635px;
margin:auto;
margin-bottom: 31px;
top:0px;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
}
.box-search .input-group {
background: #FFFFFF;
border-radius: 30px;
height: 39px;
}
.box-search .form-control {
height: 39px;
box-shadow: none;
border-right: 0px;
color: #000;
border: 0px;
border-radius: 30px;
padding: 6px 20px;
}
.box-search .input-group-btn .btn-default {
padding: 10px 20px;
border: 0px;
border-radius: 0px 30px 30px 0px;
}
.box-search .input-group-btn .btn-default img{
height: 20px;
}
.box-search .btn-default {
background: rgba(255, 255, 255, 0.5);
}
.box-search .btn-default:active:focus,.box-search .btn-default:active:hover{
background: none;
}
.bg-search{
/*box-shadow: 0px 2px 4px rgba(96, 111, 128, 0.05);*/
padding: 31px 0px 66px 0px;
}
.menu-tab{
display: flex;
border:0px;
flex-direction: row;
}
.menu-tab li{
display: flex;
width:calc(100% / 4);
}
.menu-tab  li a{
border:0px;
color: #000;
width:100%;
}
.menu-tab  li a span{
display: flex;
}
.menu-tab  li a span:last-child{
align-items: center;
}
.menu-tab li a span h5{
display: inline-block;
width:calc(100% - 24px);
}
.menu-tab li a span:first-child h5{
font-size: 14.5px;
font-family: "Roboto";
margin:0px;
padding-right: 10px;
}
.menu-tab li.active a span:first-child h5{
color: #fff;
padding-right:10px;
}
.menu-tab li.active a span:last-child h5{
color: rgba(255, 255, 255, 0.6);
}
.menu-tab li a span:last-child h6{
height:24px;
text-align: center;
margin:auto;
}
.menu-tab li a span:last-child:after{
position: relative;
content: '';
right: 0px;
left: auto;
background: url(../images/muiten2.svg) no-repeat;
width:24px;
height:24px;
}
.menu-tab li.active a span:last-child:after{
background: url(../images/muiten1.svg) no-repeat;
}
.menu-tab li a span:last-child h5{
color: rgba(0, 0, 0, 0.6);
margin: 0px;
}
.menu-tab  li a span h6{
width: 24px;
margin:0px;
}
.menu-tab li a span:first-child img{
height: 18px;
}
.menu-tab li a span:first-child img:last-child,.menu-tab li.active a span:first-child img:first-child,.menu-tab li a:hover span:first-child img:first-child{
display: none;
}
.menu-tab li a:hover span:first-child img:last-child,.menu-tab li.active a:hover span:first-child img:last-child,.menu-tab li.active a span:first-child img:last-child{
display: block;
}
.menu-tab li a span:first-child {
margin-bottom: 5px;
height: calc(100% - 24px);
}
.menu-tab li a{
background: #fff;
box-shadow: 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
border-radius: 12px;
padding:10px 5px 10px 15px;
margin-right: 4px;
}
.menu-tab li:last-child{
margin-right: 0px;
}
.menu-tab li.active a,.menu-tab li.active a:hover,.menu-tab li a:hover,.menu-tab li.active a:focus{
background: #0F51AA;
border:0px;
}
.menu-tab li a:hover span:first-child h5{
color: #fff;
}
.menu-tab li a:hover span:last-child h5{
color: rgba(255, 255, 255, 0.6);
}
.menu-tab li a:hover span:last-child:after{
background: url(../images/muiten3.svg) no-repeat;
}
.breadcrumb li {
display: inline-block;
}
.breadcrumb li a {
color: rgba(0, 0, 0, 0.6);
font-size: 10px;
}
.breadcrumb li:nth-child(1):before{
content: none;  
}
.breadcrumb{
background: none;
padding: 0px ;
}
.breadcrumb li a{
font-family: "Roboto";
}
.breadcrumb li a.active  {
color: rgba(15, 81, 170, 0.6)
}
.breadcrumb li:before {
content: '>';
position: relative;
color: #0F51AA;
}
.frame-tab{
margin-top: 36px;
padding:0px 20px;
}
.content-left{
width:calc(100% - 352px);
padding-right: 34px;
float: left;
}
.content-right{
width:352px;
float: right;
}
.frame-search{
padding: 25px 20px;
background: #FFFFFF;
border: 1px solid #F3F2F2;
box-shadow: 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
border-radius: 12px;
}
.header-title{
display: flex;
align-items: center;
}
.header-title img{
height: 24px;
}
.header-title span{
margin-left: 15px;
font-size: 18px;
}
.frame-search .form-group{
box-shadow: 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
border-radius: 12px;
padding: 12px 20px;
}
.frame-search .form-group:last-child{
margin-bottom: 0px;
}
.frame-search .form-group label{
margin-bottom: 0px;
color: #000000;
font-family: "RobotoMedium";
font-weight: normal;
}
.frame-search .form-control{
border:0px;
box-shadow: none;
padding: 0px;
}
.frame-search .form-control option{
padding:0px;
}
.search_results > h4{
font-size: 20px;
font-family: 'RobotoMedium';
border-bottom: 1px solid rgba(15, 81, 170, 0.2);
padding-bottom: 14px;
margin-bottom: 20px;
}
.search_results > i,.frame-detail > i{
color: #000000;
font-size: 11px;
opacity: 0.6;
float: right;
}
.list_results{
background: #FFFFFF;
padding: 15px 15px 23px 15px;
margin-bottom: 20px;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
border-radius: 12px;
}
.list_results ul {
	display:flex;
	flex-direction: column;
} 
.list_results li{
	display:inline-flex;
	align-items: center;
}
.list_results li:first-child{
	align-items: flex-start;
}
.list_results h4{
font-size: 20px;
font-family: 'RobotoMedium';
}
.list_results li:first-child{
display: flex;
}
.list_results ul li:first-child span:first-child{
white-space: nowrap;
padding-top: 2px;
/*padding-left: 5px;*/
}
.flex-row{
	display: flex;
	justify-content: space-between;
}
.flex-row div button{
	border: 0px;
	background: #F2F9FF;
border-radius: 50%;
padding: 10px;
margin-left: 10px;
}
.flex-row div {
	display: flex;
}
.flex-row div button img{
height: 20px;
width: 20px;
}

.flex-row div button:disabled{
background: #EEEEEE;
}
.flex-row div button:disabled img:last-child{
display: block;
}
.flex-row div button img:last-child,.flex-row div button:disabled img:first-child{
	display: none;
}
.title_box{
background: #0F51AA;
border-radius: 4px;
padding: 2px 5px;
font-size: 12px;
color: #fff;

}
.title_box img{
height: 12px;
padding-right: 3px;
}
.list_results ul li::before {
content: "\2022";
color: #0F51AA;
font-weight: bold;
display: inline-block; 
width: 10px;
}
.list_results ul li span:first-child{
color: rgba(15, 81, 170, 1);
font-size: 12px;
font-family: "Roboto";
}
.list_results ul li span:last-child{
font-size: 14.5px;
padding-left: 10px;
}
.list_results ul li span:last-child button{
	color: #0F51AA;
	font-size: 14.5px;
	font-family: "RobotoMedium";
	border: 1px solid #0F51AA;
border-radius: 4px;
background: none;
padding: 4px 10px;
}
.list_results ul li span:last-child button:disabled{
	border: 1px solid rgba(0,0,0,0.3);
	color:rgba(0,0,0,0.3) ;
}
.btn_default{
position: absolute;
right: 15px;
bottom: 23px;
display: flex;
align-items: center;
}
.list_results .btn_default img{
height: 20px;
opacity: 0;
transform: all .2 ease;
}
.btn_default a:last-child{	
font-size: 12px;
background: #0F51AA;
border: 1px solid #049FF0;
border-radius: 4px;
text-align: center;
font-family: 'Roboto';
color: #FFFFFF;
border-radius: 4px;
padding: 5px 25px 5px 20px;
display: inline-block;
margin-left: 6px;
position: relative;
z-index: 1;
overflow: hidden;
}
.btn_default a:last-child:before{
background: #0088CF;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
content: '';
z-index: -1;
opacity: 0;
-webkit-transform: scale3d(0.7, 1, 1);
transform: scale3d(0.7, 1, 1);
-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
transition: transform 0.4s, opacity 0.4s;
-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.list_results:hover .btn_default a:last-child:before{
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.list_results:hover .btn_default a:last-child{
border: 1px solid #049FF0;
}
.list_results:hover .btn_default img{
opacity: 1
}
.btn_default a:last-child:after{
position: absolute;
content: '';
right: 0px;
top: 1px;
background: url(../images/muiten.svg) no-repeat;
width: 12px;
height: 24px;
z-index: 2;
display: inline-block;
transform: rotate(-90deg);
}
.pagination-cus{
margin:10px 0px 30px 0px;
display: flex;
align-items: center;
}
.pagination-left{
color: rgba(0, 0, 0, 0.5);
font-size: 12px;
width:calc(100% - 155px);
}
.pagination-left span{
padding: 0px 3px;
font-family: "RobotoMedium";
color: #000;
}
.pagination-left button{
background: none;
padding: 0px;
border:0px;
}
.pagination-left button img{
height: 24px;
}
.pagination-right{
text-align: right;
width:155px;
align-items: center;
display: flex;
}
.pagination-right div{
display: inline-flex;
background: #FFFFFF;
border: 1px solid #EBEEF2;
border-radius: 4px;
padding: 6px 19px;
}
.pagination-right img{
height: 20px;
padding-right: 5px;
}
.pagination-right .form-control{
border: 0px;
padding: 0px;
box-shadow: none;
background: none;
height: auto;
}
.pagination-right label{
font-weight: normal;
margin-bottom: 0px;
color: #6A707E;
font-size: 12px;
}
.pagination-right select{
color: #0F51AA;
font-family: "RobotoMedium"
}
.frame-detail{
border-top:1px solid rgba(15,81,170,0.2);
}
.frame-detail h4,.tab_content_2 h4{
margin:24px 0px;
font-size: 27px;
color: #06152B;
font-family: "RobotoMedium";
}
.frame-box{
background: #FFFFFF;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
border-radius: 12px;
padding: 15px;
margin-bottom: 28px;
}
.frame-box h5{
color: #0F51AA;
font-size: 20px;
font-family: "RobotoMedium";
margin-bottom: 17px;
}
.frame-box .form-group label{
font-size: 12.5px;
color: #1D1D1D;
font-weight:normal;
width: 115px;
margin-right: 10px;
flex-grow: 0;
flex-shrink: 0;
margin-bottom: 0px;
}
.frame-box .form-group{
display: flex;
align-items: center;
margin-bottom: 12px;
}
.frame-box .form-group .form-control{
border: 1px solid #C5D7EE;
box-shadow: none;
}
.frame-box .form-group input{
height: 40px;
font-family: "RobotoMedium";
}
.form_inline .form-group{
padding-left: 30px;
}
.form_inline .form-group:first-child{
padding-left: 0px;
}
.form-bottom{
display: inline-flex;
align-items: center;
margin:15px 0px 20px 0px;
}
.form-bottom span{
text-transform: uppercase;
font-size: 11px;
font-family: "Roboto";
}
.form-bottom ul{
background: #F2F9FF;
border: 1px solid #C5D7EE;
border-radius: 12px;
margin-left: 15px;
padding:2px 12px;
}
.form-bottom ul li{
padding:0px 3px;
display: inline-block;
}
.form-bottom ul li a{
text-decoration-line: underline;
font-size: 12.5px;
color: #0088CF;
font-family: "Roboto";
}
.form-bottom ul li a:after{
content: "|";
position: relative;
left: 5px;
}
.title-detail{
border-bottom: 1px solid rgba(15, 81, 170, 0.2);
padding-bottom: 15px;
margin-top: 10px;
}
.title-detail span{
font-size: 20px;
line-height: 26px;
color: #0F51AA;
font-family: "RobotoMedium";
border-bottom: 2px solid #0F51AA;
padding-bottom: 15px;
}
.form-filter{
display: flex;
justify-content: flex-end;
align-items: center;
position: absolute;
right: 15px;
top: 28px;
}
.form-filter .form-inline{
display: inline-flex;
align-items: center;
}
.frame-box .form-inline .form-group label{
width:auto;
margin-bottom: 0px;
}
.frame-box .form-filter .form-inline .form-group{
margin-left: 15px;
margin-bottom: 0px;
}
.frame-box .form-filter .form-inline .form-group select{
color: #0F51AA;
font-size: 12px;
font-family: "RobotoMedium";
}
.form-filter span img{
height: 34px;
width: 16px;
}
.form-filter span{
margin-right: 10px;
}
.tbl-detail{
margin-top: 15px;
}
.tbl-detail table{
width:100%;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
overflow: hidden;
}
.tbl-detail table thead th{
background: #CEE5F3;
padding:15px;
font-size: 12px;
font-family: "RobotoMedium";
font-weight:normal;
white-space: nowrap;
}
.tbl-detail table thead th p,.tbl-detail table thead th i{
font-family: "Roboto_Light";
font-style: normal;
}
.alnright { text-align: right; }
.tbl-detail table td{
padding: 15px;
font-size: 12px;
}
.tbl-detail table tr{
border-bottom:1px solid #E6E6E6;
}
.tbl-detail table td img{
height: 20px;
display: inline-block;
margin-left: 5px;
}
.tbl-detail table td:first-child img:first-child{
display: none;
}
.tbl-detail table tr:hover td:first-child img:last-child{
display: none;
}
.tbl-detail table tr:hover  img:first-child{
display: inline-block;
}
.tbl-detail table button:disabled img:first-child,.tbl-detail table button img:last-child{
display: none;
}
.tbl-detail table button:disabled img:last-child{
display: block;
}
.tbl-detail table td span{
text-align: center;
padding: 5px 8px;
display: block;
border-radius: 24px;
font-family: "RobotoMedium";
}
.tbl-detail table button{
	border:0px;
	background: none;
	padding: 1px 3px;
	display: inline-flex;
}
.tbl-flex{
	display: inline-flex;
}
.button-success{
background: rgba(46, 212, 122, 0.2);
color:#2ED47A;
}
.button-delete{
background: rgba(247, 104, 91, 0.2);
color: #F7685B;
}
.button-warning{
background: rgba(255, 185, 70, 0.2);
color: #FFB946;
}
.tbl-pagination{
display: inline-flex;
align-items: center;
}
.tbl-pagination div ul{
	background: none;
	padding: 0px;
	border-radius: 0px;
	box-shadow: none;

}
.tbl-pagination div ul li {
border-radius: 50%!important;
margin-left: 9px;
background: #EBEEF2;
box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
color: #000;
border: 1px solid #EBEEF2;
min-height: 35px;
min-width: 35px;
text-align: center;
display: inline-flex;
align-items: center;
width:auto;
}
.tbl-pagination div ul li a{
width:100%;
background: none;
border:none;
color: #000;
margin-left: 0px;
padding: 0px;
font-size: 12px;
display: initial;
}
.tbl-pagination div ul li a:before, .tbl-pagination div ul li.active a:after,.tbl-pagination div ul li.active a:before{
	content:none;
}
.tbl-pagination div ul li.active{
background: #0F51AA;
box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
}
.tbl-pagination div ul li:hover{
background: #ddd;
}
.tbl-pagination div ul li.active a:hover{
background: none;
color: #000;
}
.tbl-pagination div ul li.active a,.tbl-pagination div ul li:hover a{
font-family: "RobotoMedium";
background: none;
border:none;
}
.tbl-pagination div ul li a img{
height: 12px;
}
.tbl-pagination div:first-child {
color: rgba(0, 0, 0, 0.6);
}
.tbl-pagination div:last-child {
text-align: right;
}
.tbl-pagination div:first-child span{
padding:0px 5px;
font-family: "RobotoMedium";
color: #000;
}
.tbl-detail.text-blue table td{
color: #0F51AA;
}
.detail-info{
margin-bottom: 20px;
}
.detail-info button{
background: #0F51AA;
border: 1px solid #EBEEF2;
box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
border-radius: 4px;
padding: 9px 12px;
color: #fff;
align-items: center;
display: inline-flex;
}
.detail-info button span{
font-family: "RobotoMedium";	
padding: 0px 10px;
}
.detail-info button img{
height: 20px;
}
.frame-box .form-filter .input-search span{
margin: 0px 0px 0px 10px;
}
.frame-box .input-search .box-search{
margin: initial;
width: 40%;
float: right;
}
.frame-box .input-search .box-search .input-group{
border: 1px solid #EBEEF2;
box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
border-radius: 19px;
}
.frame-box .input-search .box-search .input-group-btn .btn-default img {
height: 14px;
}
.frame-box .input-search .box-search .form-control,.frame-box .input-search .box-search .input-group{
height: 34px;
}
.sort-tbl:before{
position: relative;
content: '';
right: 0px;
left: auto;
background: url(../images/sort2.svg) no-repeat;
width: 20px;
height: 20px;
display: inline-block;
top:2px;
}
.sorttable_sorted .sort-tbl:before{
background: url(../images/sort1.svg) no-repeat;
}
.sorttable_sorted span, .sorttable_sorted_reverse span{
display: none;
}
.frame-scroll{
display: table;
table-layout: fixed;
width: 100%;
}
.tbl-detail{
display: table-cell;
overflow-x: auto;
width: 100%;
}
.btn-nextpage img{
height: 20px;
padding-left: 10px;
}
.form-group.btn-nextpage{
padding-left: 15px;
}
.btn-nextpage a{
padding:9px 5px 9px 12px;
font-family: "Roboto";
background: #0F51AA;
border: 1px solid #EBEEF2;
box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
border-radius: 4px;
color: #fff;
display: inline-block;
}
.btn-style .btn-nextpage{
text-align: right;
}
.btn-style .btn-nextpage a{
position: relative;
bottom: 10px;
}
.btn-nextpage a:hover{
background: #0088CF;
}
.frame-box .input-search .box-search.search_hide{
width:auto;
}
.filter-hide.in{
width:auto;
}
.filter-hide{
width:25px;
transition: width .5s ease;
overflow: hidden;
justify-content: end;
}
.filter-hide span{
background: #fff;
height: 34px;
padding: 0px 10px;
margin-right: 0px;
}
.frame-box .input-search.search-hide{
width:42px;
transition: width .3s ease;
overflow: hidden;
}
.frame-box .input-search.search-hide .box-search{
width:auto;
}
.frame-box .input-search.search-hide.in{
width:300px;
}
.frame-box .input-search.search-hide .box-search .input-group{
border: 1px solid #fff;
}
.frame-box .input-search.search-hide.in .box-search .input-group{
border: 1px solid #EBEEF2;
}
.frame-box .input-search.search-hide .box-search .input-group button:before{
position: absolute;
content: '';
right: 10px;
top: 5px;
background: url(../images/search_blue.svg) no-repeat;
width: 20px;
height: 20px;
z-index: 2;
display: inline-block;
}
.frame-box .input-search.search-hide.in .box-search .input-group button:before{
background: url(../images/search.svg) no-repeat;
}
.filter-hide span{
position: absolute;
right: 0px;
padding-right: 0px;
}
.filter-hide.in span{
position: relative;
}
.tab-detail{
/*margin: 30px 0px;*/
}
.tab-detail ul{
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
border-radius: 24px;
padding:20px 0px;
background: rgba(255, 255, 255, 0.4);
}
.tab-detail ul li{
display: inline-block;
width:calc(100% / 6);
}
.tab-detail ul li p{
display: none;
}
.tab-detail ul li a img{
height: 34px;
width:34px;
}
.tab-detail ul li a span:first-child{
border-radius: 50%;
background: #DCE5F2;
padding:15px;
z-index: 2;
}
.tab-detail ul li.active a span:first-child,
.tab-detail ul li a:hover span:first-child,
.tab-detail ul li.disabledTab a:hover span:first-child{
background: #0F51AA;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08), 0px 2px 10px rgba(0, 0, 0, 0.08);
}
.tab-detail ul li.disabledTab a span:first-child{
background: #DDDDDD;
}
.tab-detail ul li.active a span:first-child img:nth-child(1),
.tab-detail ul li.active a span:first-child img:nth-child(2),
.tab-detail ul li.disabledTab a span:first-child img:nth-child(2),
.tab-detail ul li.disabledTab.active a span:first-child img:nth-child(3),
.tab-detail ul li a:hover span:first-child img:nth-child(1),
.tab-detail ul li a:hover span:first-child img:nth-child(2),
.tab-detail ul li.disabledTab a:hover span:first-child img:nth-child(1){
display: none;
}
.tab-detail ul li a span:first-child img:nth-child(2),
.tab-detail ul li.active a span:first-child img:nth-child(3),
.tab-detail ul li.disabledTab a span:first-child img:nth-child(1),
.tab-detail ul li a:hover span:first-child img:nth-child(3),
.tab-detail ul li.disabledTab a:hover span:first-child img:nth-child(3)
{
display: block;
}
.tab-detail ul li a span:first-child img{
display: none;
}
.tab-detail ul li a:hover,.tab-detail ul li.active a:hover,.tab-detail ul li.active a,
.tab-detail .nav-tabs>li.active>a, .tab-detail .nav-tabs>li.active>a:focus,.tab-detail .nav-tabs>li.active>a:hover
{
background: none;
}
.tab-detail ul li a {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
border: 0px!important;
}
.tab-detail ul li a span:last-child{
text-transform: uppercase;
text-align: center;
color: #0F51AA;
margin-top: 10px;
font-size: 11px;
font-family: "Roboto";
}
.tab-detail ul li.disabledTab a span:last-child{
color: rgba(29, 29, 29, 0.75);
}
.tab-detail ul li.active a span:last-child,.tab-detail ul li:hover a span:last-child{
font-family: "RobotoMedium";
}
.disabledTab {
pointer-events: none;
}
.tab-detail .tab-content{
margin-top: 30px;
}
.tab-detail .tab-content .frame-box .form-tab .form-group .form-control {
background: rgba(241, 249, 255, 0.7);
border: 1px solid #C5D7EE;
}
.tab-detail ul:before{
position: relative;
content: '';
background: url(../images/line.svg);
background-repeat: repeat-x;
width: 80%;
height: 2px;
top: 26px;
left: 10%;
}
.tab-detail ul li.active a:before,.tab-detail ul li a:before,.tab-detail ul li.active a:after{
position: absolute;
content: '';
width: 100%;
height: 2px;
top: 24px;
}
.tab-detail ul li.active a:before{
background: url(../images/line_active.svg);
background-repeat: repeat-x;
}
.tab-detail ul li a:before,.tab-detail ul li.active a:after{
background: #f7fbff;
width: 50%;
}
.tab-detail ul li.active:last-child a:before {
width: 50%;
right: 50%;
}
.tab-detail ul li.active:first-child a:before {
width: 50%;
left: 50%;
}
.fixed {
position: fixed;
top: 0;
z-index: 9;
width: 100%;
}
.scrollTop{
position:fixed;
top: 25px;
z-index: 10;
}
.fixed .header-center{
left: initial;
transform: translateX(0%);
right: 0px;
}
.fixed .pushmenu-left{
position: relative;
}
.breadcrumb_style{
border-bottom: 1px solid rgba(15, 81, 170, 0.2);
margin-top: 25px;
}
.tab_content_2 .tab-pane{
background: #FFFFFF;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
border-radius: 0px 0px 12px 12px;
padding:25px 23px;
}
.tab_content_2 .tab-pane .text-title{
margin-top:0px;
font-size: 20px;
color: #0F51AA;
}
.text-tab{
font-style: italic;
text-align: justify;
color: #000000;
font-size: 12.5px;
padding-left: 95px;
margin-top: 26px;
}
.text-tab:before{
position: absolute;
content: '';
left: 23px;
background: url(../images/icon_text.svg) no-repeat;
width: 79px;
height: 66px;
display: inline-block;
top: 75px;
}
.text-tab:after{
position: absolute;
content: '';
right: 23px;
background: url(../images/icon_text.svg) no-repeat;
width: 79px;
height: 66px;
bottom: 14px;
transform: rotate(180deg);
}
.text-title:after,.text-title.in:after{
position: absolute;
content: '';
right: 23px;
background: url(../images/arrow_toggle.svg) no-repeat;
width: 32px;
height: 32px;
}
.text-title.in:after{
transform: rotate(180deg);
}
.frame-text .text-tab:after{
display: none;
}
.frame-text.in .text-tab:after{
display: block;
}
.span-img{
position: absolute;
bottom: 4px;
padding-left: 15px;
right: 23px;
}
.span-img img{
transform: rotate(180deg);
}
.frame-text{
overflow: hidden;
max-height: 155px;
padding-right: 5px;
padding-bottom: 45px;
}
.frame-text.in {
max-height: 100%;
}
.tab_content_2 >ul{
border-bottom : 1px solid rgba(15, 81, 170, 0.2);
}
.tab_content_2 >ul li{
padding:0px 12px;
}
.tab_content_2 >ul li a:hover{
background: none;
border-bottom: 2px solid #0F51AA;
color: #0F51AA;
}
.tab_content_2 >ul li a{
color: #1D1D1D;
font-size: 14.5px;
font-family: 'RobotoMedium';
border-bottom: 2px solid rgba(255,255,255,0);
padding:10px 0px;
}
.tab_content_2 > ul li.active a{
border-bottom: 2px solid #0F51AA;
}
.tab_content_2 .nav-tabs>li.active>a,.tab_content_2 .nav-tabs>li.active>a:focus,.tab_content_2 .nav-tabs>li.active>a:hover{
color: #0F51AA;
}
.tab_content_2.tab_list .tab-pane{
padding: 0px;
}
.tab_content_2.tab_list .title-detail span{
color: #1D1D1D;
border-bottom: 0px;
}
.title-detail button{
	border: 0px;
    border-radius: 50%;
    background: #F2F9FF;
    padding: 5px;
    margin-left: 8px;
    position: absolute;
    z-index: 10;
}
.title-detail button img{
width: 20px;
height: 20px;
}
.tab_content_2.tab_list .tbl-detail table td button img{
display: inline-block;
padding-right: 5px;
height: 10px;
}
.tab_content_2.tab_list .tbl-detail table td button{
border:0px;
font-size:11px;
font-family: "RobotoMedium";
color: #FFFFFF;
padding: 5px 10px;
border-radius: 16px;
display: inline-flex;
align-items: center;
white-space: nowrap;
margin-right:5px;
}
.tab_content_2.tab_list .tbl-detail .btn-detail:hover {
background: #41b2f6;
}
.tab_content_2.tab_list .tbl-detail .btn-delete_cus:hover {
background: #f5877d;
}
.tab_content_2.tab_list .tbl-detail .btn-detail{
background: #109CF1;
}
.tab_content_2.tab_list .tbl-detail .btn-delete_cus{
background: #F7685B;
}
.tab_content_2.tab_list .tbl-detail .btn-detail img{
padding-left: 10px;
padding-right: 0px;
}
.tab_content_2.tab_list .tab-pane .frame-box{
margin-bottom: 0px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}
.td_nowrap{
display: flex;
}
.tooltip_tab p{
position: absolute;
text-transform: uppercase;
z-index: 3;
font-size: 10px;
background: #d41111;
color: #fff;
padding: 5px 8px;
border-radius: 4px;
left: 50%;
transform: translateX(-50%);
top: -30px;
white-space: nowrap;
display: block!important;
}
.tooltip_tab p:before{
position: absolute;
content: '';
left: 50%;
background: url(../images/arrow_tooltip.svg) no-repeat;
width: 12px;
height: 10px;
transform: translateX(-50%);
bottom: -8px;
}
.frame-support{
background: #F1F9FF;
border-radius: 12px;
padding: 10px 20px;
}
.frame-support h5{
color: #0F51AA;
font-size: 12.5px;
text-transform: uppercase;
border-bottom: 1px solid #D6E5F5;
padding-bottom: 10px;
}
.frame-support ul li{
display: inline-flex;
align-items: center;
margin-left: 40px;
}
.frame-support ul li:first-child{
margin-left:0px;
}
.frame-support ul li span{
padding-left: 20px;
font-size: 12.5px;
}
.frame-support ul li img{
height: 40px;
border-radius: 50%;
}
.footer-cus{
background: #CEE5F3;
box-shadow: 0px -2px 0px #0F51AA;
border-top:2px solid #0F51AA;
}
.frame-footer{
display: inline-flex;
justify-content: space-between;
padding:25px 0px 50px 0px;
}
.footer-logo  img{
height: 60px;
margin-bottom: 15px;
}
.footer-logo p,.footer-menu  p a,.footer-menu  p a{
font-size: 12.5px;
color: #1D1D1D;
}
.footer-menu div:last-child p{
line-height: 2;
font-size: 12.5px;
}
.frame-footer div:nth-child(2) p,.frame-footer div:nth-child(3) p{
margin-bottom: 25px;
}
.footer-bottom{
background: #0F51AA;
padding:11px 0px;
}
.container-footer div,.container-footer{
display: flex;
flex-direction: row;
color: rgba(255, 255, 255, 0.5);
text-transform: uppercase;
font-size: 11px;
}
.container-footer div:first-child{
width:calc(100% - 169px);
}
.container-footer div:last-child img{
height: 16px;
}
.container-footer div:last-child a:last-child{
padding-right: 0px;
}
.container-footer div:last-child a{
padding-right: 37px;
}
.footer-logo{
width:380px;
}
.footer-menu{
width:calc(100% - 380px);
}
.frame-menu div:nth-child(1) ,.frame-menu div:nth-child(2) {
width:90px;
}
.footer-menu div h5 a{
color: #0F51AA;
font-size: 14.5px;
font-family: "RobotoMedium";
}
.footer-menu div h5{
margin-bottom: 20px;
}
.form-group.btn-nextpage.btn-send{
padding-left: 0px;
}
.box-file{
height: 38px;
align-items: center;
background: #EBEEF2;
display: inline-flex;
border-radius: 48px;
padding: 0px 10px;
min-width:264px;
}
.box-file label{
width:20px!important;
}
.box-file img{
height: 20px;
}
.frame-file{
border: 2px dashed #EBEEF2;
border-radius: 48px;
}
.box-file div{
color: rgba(98, 109, 125, 0.4);
font-family: "Roboto";
font-size: 12px;
}
.frame-feedback .form-group label {
color: #000000;
font-family: "Roboto";
font-size: 12px;
}
.frame-feedback .form-group textarea{
font-family: "RobotoMedium";
}
.frame-chart h4{
width:calc(100% - 150px);
font-size: 16px;
margin:0px 0px 15px 0px;
}
.frame-chart .form-filter{
width:150px;
right: 0px;
margin-top: 0px;
top:0px;
}
.frame-detail.frame-chart{
	border-top:0px;
	height: 100%;
}
.frame-chart .form-filter .form-control{
	border:0px;
	background: none;
	box-shadow:none;
	padding:6px 0px;
	color: #0F51AA;
	font-family: "RobotoMedium";
}
.frame-chart .form-filter .form-inline{
background: #fff;
padding: 0px 12px;
border-radius:4px;
border: 1px solid #EBEEF2;
}
.frame-chart .form-filter .form-inline .form-group{
	margin-right: 15px;
}
.chartPie .frame-chart .form-filter .form-inline,.chart-clear-padd .frame-chart .form-filter .form-inline{
padding: 0px;
margin-left: 0px;
}

.chartPie{
	display: inline-flex;
}
.chartPie .col-xs-6{
display: inline-block;
}
.chartPie .col-xs-6:first-child{
margin-right: 8px;
}
.chartPie .col-xs-6:last-child{
margin-left: 8px;
}
.chartPie .frame-box{
	margin-bottom: 15px;
}
.chart-box{
	height: 326px;
}
.chartPie-box2{
padding:0 25%;
}
.chartPie-box{
/*width: 70%;*/
padding: 0 15%;

}
.chartPie-box3{
width:50%;
}
.chart-pie-style2{
padding: 0px 40px;
width: calc(100% - 190px);
}
.chart-flex{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
}

.legend-custom.legend-block{
	margin-top: 0px;
	margin-left: 30px;

}

.legend-custom.legend-custom-bar.legend-colunm-3 ul li,.legend-custom.legend-custom-bar.legend-colunm-2 ul li{
	    width: calc((100% / 3) - 10px);
    display: inline-flex;
    float: left;
    margin-top: 10px;
    background: none;
    padding: 0px;
}

.legend-custom.legend-custom-bar.legend-colunm-2 ul li{
width:auto;
margin-left: 5px;
margin-top: 5px;
}
.legend-custom.legend-custom-bar.legend-colunm-3 ul li:nth-child(3n+4){
	margin-left: 0px;

}
.legend-custom.legend-custom-bar.legend-colunm-3 ul li div,.legend-custom.legend-custom-bar.legend-colunm-2 ul li div{
background: rgba(0, 96, 255, 0.1);
padding: 5px 8px;
border-radius: 5px;
display: inherit;
}

.legend-custom.legend-block ul li{
display: flex;
text-align: left;
width: auto;
background: none;
padding: 0px;
}
.legend-custom.legend-block ul li p{
margin-bottom: 0px!important;

}
.legend-custom ul li,.legend-custom.legend-block ul li p{
font-size: 9px;
font-family: "InterMedium";
color: #06152B;
display: inline-flex;
align-items: center;
background: rgba(0, 96, 255, 0.1);
border-radius: 5px;
padding: 5px 7px;
cursor:pointer;
 margin-bottom: 10px;
}
.legend-custom{
	text-align: center;
	margin-top: 30px;
}
.legend-custom ul li span{
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 2px;
	margin-right: 5px;
}
.legend-custom.legend-custom-bar{
	margin-top: 0px;
}
.legend-custom.legend-custom-bar ul li{
	background: rgba(0, 96, 255, 0.1);
	color: #06152B;
	font-family: "InterMedium";
	font-size:9px;
	padding: 5px 8px;
	margin-left: 10px;
	margin-bottom: 0px;
}
.legend-custom.legend-custom-bar ul li:first-child{
	margin-left: 0px;
}
.list-form{
	padding: 15px 0px;
    margin-bottom: 28px;
}
.popup-custom h4{
    color: #fff;
    font-family: "Roboto";
}
.popup-custom h4 img{
	padding-left: 15px;
}
.popup-custom .modal-header{
	border-bottom: 1px solid #0F51AA;
	padding: 15px;
	background: #0F51AA;
}
.popup-custom .modal-body,.popup-custom .modal-footer{
	padding: 15px 0px;
}
.popup-custom .modal-body{
	display: flex;
	flex-direction: column;
	padding: 0px;
}
.popup-custom .modal-header .close{
	color: #fff;
	opacity: 1;
}

.popup-custom .btn-close{
	background: #F7685B;
	color: #fff;
}

.popup-custom .tbl-detail tbody {
    display:block;
    max-height:360px;
    overflow-y:scroll;
}
.popup-custom .tbl-detail thead, .popup-custom .tbl-detail tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.popup-custom .tbl-pagination{
	border-top: 1px solid #E6E6E6;
}
.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px; /* Adjusts for spacing */
}
.modal-dialog {display: inline-block;text-align: left;vertical-align: middle;}
.tab-list-2 ul li:first-child{
padding-left: 0px;
}
.tab-list-2.tab_content_2 .tab-pane{
	background: none;
	box-shadow: none;
}
/*map*/
.map {
	padding-right: 40px;
}
.map path {
 
    /* stroke: #333; */
    stroke-width: 0;
    transition: all 0.5s;
    /* opacity: 0.5; */
}

.map path:hover {
 /* fill: #716b6d !important;  */
  cursor: pointer;
}
.heyo{
	-moz-transition:all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.heyo:hover {
     fill: #CC2929;
  
}

.enabled {
  fill: #0F51AA;
  cursor: pointer;
}

.info_panel{
    position: absolute;
    font-size: 16px;
    background: white;
    padding: 10px 15px;
    z-index: 99999;
    line-height: 30px;
    margin: 0 auto;
    box-shadow: 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
border-radius: 12px;
    /*-moz-transform: translateX(0%);
    -ms-transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);*/
	
     display: none;
	
}

.info_panel span{
	text-transform: uppercase;
color: #0F51AA;
font-family: "RobotoMedium";
font-size: 14px;
}
.info_panel ul{
	list-style-type: disc;
	padding-left: 18px;
	font-size: 13px;
	font-family: "RobotoMedium";
	color: #000;
	}
	
.info_panel img{
	height:24px;
	padding-right:5px;
}
.info_panel.active {
  display: block;
}
.info_panel:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 30%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
}
.padd-map{
	padding: 20px 0px;
	display: inline-flex;
    align-items: center;
}
.tab-list-2.tab_content_2.tab_list .tab-pane .frame-box{
	border-radius: 12px;
}
.tab-list-2 .form-control{
font-family: "RobotoMedium";
color: #0F51AA;
}
.padd-map p{
	color: #1D1D1D;
	font-size: 14px;
	font-family: "RobotoMedium";
	margin-bottom: 20px;
	margin-top: 20px;
	display: block;
	float: left;
}
/*end map*/
.col-1{
	width: calc(100% - 115px);
	display: inline-flex;  
    align-items: center;
}
.col-2 {
	width: 115px;
}
.clear-dot{
	margin-top: 15px;
}
.clear-dot:before{
	content: none!important;
}
.tab-statis{
	border-bottom: 0px;
	background: #CEE5F3;
border-radius: 30px;
padding: 4px;
display: inline-block;
margin-bottom: 15px;

}
.tab-statis li:hover a{
background: none;
color: #fff;
}
.tab-statis li.active,.tab-statis li:hover{
	background: #0F51AA;
	border-radius: 30px;
}
.tab-statis li a{
	color: #1D1D1D;
	font-family: "RobotoMedium";
	font-size: 13px;
	padding: 8px 15px;
}
.tab-statis li.active a{
	color: #fff!important;	
}
.frame-colunm h4{
	font-size: 16px;
	margin: 0px 0px 15px 0px;
}
.mar-top-left{
	margin-top: 40px;
}
.mar-tab{
	float: right;
	margin-top: 15px;
}
.height-chart{
	height: 120px;
}

.group-btn button{
 border:0px;
padding: 10px;
border-radius: 50%;
background: #F2F9FF;
margin-left: 10px;

}
.group-btn button img{
	height: 18px;
	width:18px;
	display: block;
	margin: 0px auto;
	padding-right: 0px;
}
.group-btn button:hover img:nth-child(2){
	display: block;
}
.group-btn button:hover img:nth-child(1),.group-btn button img:nth-child(2){
display: none;
}
.box-colunm div span{
font-size: 21px;
font-family: 'RobotoMedium';
color: #000000;
text-transform: uppercase;
}
.box-colunm div span img{
	padding-right: 5px;
}
.box-colunm div h5{
font-size: 46px;
font-family: 'RobotoMedium';
color: #2B5496;
}
.box-colunm div i{
	    font-size: 14px;
    font-family: "Roboto_Light";
    font-style: normal;
    position: relative;
    color: #727272;
    bottom: 14px;
    right: -10px
}
.box-colunm div p{
	color: #000000;
font-size: 18px;
font-family: 'RobotoMedium';
margin-bottom: 0px;
}
.box-colunm {
display: flex;
flex-direction: column;
    padding-right: 20px;

}
.box-colunm div{
	margin-bottom: 20px;
	background: #F5F8FC;
border: 1px solid #AECBED;
border-radius: 8px;
margin-bottom: 20px;
    background: #F5F8FC;
    border: 1px solid #AECBED;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.info_panel .span-date{
	text-transform:unset;
}
.box-map-2{
	display: flex;
	margin-top: 20px;
}

 .tab-statis1{
 	display: flex;
 	justify-content: space-between;
 }
 .tab-statis1 .pagination-right{
 	width: 127px;
 }
 .tab-statis1 .tab-statis{
 	margin-bottom: 0px;
 }
 .group-btn button:hover{
 	background: #0492FF;
 }
 .form-flex{
 	display: flex;
 	    margin: 15px 0px 20px 0px;
 }
 .form-flex .form-bottom{
 	margin: 0px;
 }
 .btn-inline{
 	display: flex;
 }
 .btn-inline button{
 	margin-left: 10px;
 	color: #0F51AA;
    font-size: 14.5px;
    font-family: "RobotoMedium";
    border: 1px solid #0F51AA;
    border-radius: 4px;
    background: none;
    padding: 4px 10px
 }
 .btn-inline button:disabled{
 	border: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.3)
 }
@media screen and (max-width: 1400px) {
.header-left img {
height: 55px;
}
.container-header,.bg-header{
height: 70px;
}
.header-center{
top: -55px;
}
.scrollTop{
top:15px;
}
}
@media screen and (max-width: 1200px) {
.header-center{
left: auto;
right: 130px;
transform: none;
}
.chart-pie-style2 {
     padding: 0px 20px; 
    width: calc(100% - 190px);
}
.box-colunm div span{
	font-size: 15px;
}
.box-colunm div h5{
	font-size: 36px;
}
.box-colunm div p{
	font-size: 14.5px;
}
}
@media screen and (max-width: 1153px) {
.container-custom{
width:100%;
padding: 0px 15px;
}
.content-right {
width: 280px;
}
.content-left {
width: calc(100% - 280px);
}
.header-center{
position: initial;
width:fit-content;
text-align: left;
background: rgb(21 83 167);
}
.header-center ul{
width:100%;
border-radius: 0px;
padding:10px;
}
.pushmenu-left{
background: #1965b1;
border-top:1px solid #fff;
}
.fixed .pushmenu-left{
left: 0px!important;
width:100%!important;
}
.scrollTop {
top: 77px;
right: initial!important;
}
.container-footer{
width:100%!important;
padding-left: 15px;
padding-right:15px;
}
.popup-custom .tbl-detail thead, .popup-custom .tbl-detail tbody tr{
	display: block;
}
.legend-custom.legend-custom-bar.legend-colunm-3 ul li{
	margin-left: 5px;
	width: calc((100% / 3) - 5px);
}
.legend-custom.legend-custom-bar.legend-colunm-3 ul li div{
	padding: 5px;
}
.frame-colunm h4{
	font-size: 14.5px;
}
}
@media screen and (max-width: 1000px) {

.menu-tab{
display: block;
}
.menu-tab li{
min-height: 85px;
}

.content-right{
width:250px;
}
.content-left {
width: calc(100% - 250px);
}
.frame-tab{
padding: 0px;
}
.form-filter{
position: relative;
margin-top: 15px;
top:0px;
}
.tab_content_2.tab_list >ul {
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
width: 2px;
height:2px;
}
.tab_content_2.tab_list >ul li{
float: unset;
display: inline-block;
}
.frame-footer{
flex-direction: column;
}
.footer-logo{
transform: translateX(-50%);
left: 50%;
}
.footer-menu{
width:100%;
padding: 15px;
}
.frame-chart .form-filter{
	position: absolute;
}
.legend-custom.legend-custom-bar.legend-colunm-3 ul li{
	width: calc((100% / 2) - 5px);
}
.chart-flex{
	display: flex;
	flex-direction: column;
}
.legend-custom.legend-block{
	margin-top: 15px;
}
.legend-custom.legend-block ul li{
	display: inline-flex;
}
.chart-pie-style2 {
    width: 70%;
}
.tab-statis1{
flex-direction: column;
}
.tab-statis1 .pagination-right div{
	margin-top: 10px;
}

}
@media screen and (max-width: 768px) {

.buttonset {
width: 80px;
z-index: 2;
}
#nav_list {
background: url(../images/menu.svg);
background-size: 100% 100%;
height: 35px;
/* margin-top: 27px; */
}
/* pushmenu-push */
.pushmenu {
background: #fff;
font-family: Arial, Helvetics, sans-serif;
width: 265px;
height: 100%;
top: 0;
z-index: 1000;
position: fixed;
}
.pushmenu a {
display: block;
color: #fff;
font-size: 14.5px;
text-decoration: none;
padding: 14px;
}
.pushmenu a {}
.pushmenu-left,.fixed .pushmenu-left {
left: -265px!important;
overflow: auto;
width:auto!important;
}
.pushmenu-left.pushmenu-open {
left: 0px!important;
overflow: auto;
background: #1966B2;
width: 265px!important;
}
.pushmenu-push-toright .box-search {
display: none;
}
.pushmenu-push {
/* overflow-x: hidden;
*/
position: relative;
left: 0;
width: 100%;
}
.pushmenu-push-toright {
left: 265px;
position: fixed;
}
.container-fulid.pushmenu-push-toright:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
z-index: 1;
}
/*Transition*/
.pushmenu,
.pushmenu-push {
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.fixed .pushmenu-left{
position: initial;
}
.header-center{
width:100%;
transform: none;
position: initial;
}
.header-center ul{
background: none;
border:0px;
}
.header-center ul li{
display: block;
}
.header-center ul li a{
text-align: left;
}
.header-center ul li.active{
border-radius: 0px;
}
.container-header{
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top:0px;
z-index: 9;
width: 100%;
}
.container-header .pushmenu-push{
width:0px;
}
.bg-header{
width:calc(100% - 80px);
padding-left: 0px;
}
.content-right,.content-left{
width:100%;
}
.content-left{
padding-right: 0px;
}
.frame-search{
padding: 15px;
margin-bottom: 30px;
}
.frame-search .form-group{
padding: 10px 15px;
}
.header-title span{
font-size: 14.5px;
}
.frame-tab{
margin-top: 10px;
}
.box-search{
width:100%;
}
.frame-box .form-detail .form-group label{
display: block;
width: 100%;
margin-bottom: 5px;
}
.frame-box .form-detail .form-group{
flex-direction: column;
align-items: flex-start;
}
.frame-box .form-detail .form_inline{
display: flex;
align-items: flex-end;
}
.form-detail .form_inline  .form-group {
padding-left: 15px;
}
.form-detail .form_inline .form-group:first-child{
padding-left: 0px;
}
.frame-detail h4,.tab_content_2 h4{
font-size: 19x;
}
.tab_content_2 .tab-pane .text-title{
font-size: 16px;
}p
.frame-box h5,.title-detail span{
font-size: 18px;
}
.title-detail span{
border-bottom: 0px;
}
.tbl-pagination{
display: block;
padding-top: 20px;
}
.tbl-pagination div,.form-filter .form-inline{
width:100%;
}
.tbl-pagination div:last-child{
text-align: center;
}
.frame-box .input-search .box-search{
width:70%;
margin:auto;
float: initial;
}
.frame-box .form-filter .input-search,.frame-box .form-group{
display: block;
}
.tbl-pagination ul li{
margin-left:5px;
min-height: 34px;
min-width: 34px;
margin-bottom: 5px;
}
.frame-box .input-search.search-hide{
overflow: initial;
width: 100%!important;
margin-bottom: 15px;
}
.frame-box .input-search.search-hide .box-search .input-group {
border: 1px solid #EBEEF2;
}
.form-filter{
display: block;
right: 0px;
}
.filter-hide{
flex-direction: row-reverse;
justify-content: flex-end;
}
.tab-detail ul li a img {
height: 20px;
width: 20px;
}
.tab-detail ul{
border-radius: 30px;
}
.tab-detail ul li a:before, .tab-detail ul li.active a:after {
width: 60%;
}
.fixed_mb{
position: fixed;
top:0px;
width:100%;
z-index: 9;
}
.tab_content_2 >ul li{
display: inline-flex;
float: unset;
}
.tab_content_2 >ul{
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
}
.text-tab:before,.text-tab:after{
background-size: 50%;
height: 35px;
}
.text-tab{
padding-left: 55px;
}
.frame-text{
padding-bottom: 20px;
}
.tab_content_2 .tab-pane .text-title{
font-size: 14.5px;
}
.footer-bottom .container-footer{
flex-direction: column;
}
.container-footer div{
width:100%!important;
text-align: center;
}
.container-footer div{
display: block;
}
.container-footer div:first-child{
margin-bottom: 10px;
}
.frame-support ul li{
display: block;
margin-left: 0px;
}
.frame-support ul li:first-child{
margin-bottom: 20px;
}
.box-file{
min-width: 100%;
}
.box-file label{
margin-bottom: 0px!important;
}
.chartPie .col-xs-6{
	display: block;
	width:100%;
	
}
.chartPie-box{
	padding: 0 20%;
}
.chartPie{
	display: block;
}
.chartPie .col-xs-6:first-child{
	margin-right: 0px;
}
.chartPie .col-xs-6:last-child{
	margin-left: 0px;
}
.chartPie .frame-box{
	padding: 15px;
}
.frame-chart h4{
	width: 100%;
	margin-bottom: 15px;
}
.frame-chart .form-filter{
	position: relative;
	margin-bottom: 15px;
}
.frame-chart .form-group{
	display: flex;
	width: 100%;
	    margin-bottom: 0px;
    align-items: center;
}
.frame-chart .form-group label{
font-size: 12.5px;
    color: #1D1D1D;
    font-weight: normal;
    margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0px;
}
.frame-detail.frame-chart{
	margin-bottom: 0px;
}
.chartPie-box2{
padding:0 10%;
}
.map {
    padding-right: 0px;
    margin-bottom: 20px;
}
.padd-map{
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
}
.chartPie .frame-box.frame-colunm{
	margin-top: 15px!important;
}
.chartPie .frame-box.frame-colunm:first-child{
	margin-top: 0px!important;
}
.legend-custom.legend-custom-bar.legend-colunm-3{
	text-align: center;
}
.legend-custom.legend-custom-bar.legend-colunm-3 ul li {
    margin-left: 5px;
   width: auto;
   float: none;
}
.legend-custom.legend-custom-bar.legend-colunm-3 ul li:nth-child(3n+4) {
    margin-left: 5px;
}
.tab-statis{
	position: relative;
}
.map svg{
	width: 70%;
}
.map{
	text-align: center;
}
.height-chart{
	height: 200px
}
.box-map-2{
	flex-direction: column;
}
.box-colunm{
	flex-direction: row;
	padding-right: 0px;
}
.box-colunm div{
	margin-right: 10px;

}
.box-colunm div:last-child{
	margin-right: 0px;
}
}
@media screen and (max-width: 550px) {
.menu-tab li{
width: calc((100% / 2) - 5px);
margin-bottom: 10px;

}
.menu-tab li a{
	margin-right: 0px;
}
.menu-tab li:nth-child(2n+1){
margin-right: 10px;
}

.frame-box .form-detail .form-group,.frame-box .form-detail .form_inline{
display: block;
width:100%!important;
}
.form-detail .form_inline .form-group {
padding-left: 0px;
}
.tab-detail ul li{
width:50%;
padding: 10px;
}
.tab-detail ul:before,.tab-detail ul li a:before, .tab-detail ul li.active a:after{
display: none;
}
.tab-detail ul li a{
flex-direction: row;
justify-content: flex-start;
}
.tab-detail ul li a span:last-child{
margin-top: 0px;
padding-left: 10px;
text-align: left;
}
.tooltip_tab p{
top:-7px;
}

.frame-box h5{font-size: 15px;}
.chartPie-box2{
padding:0 15px;
}
.chart-flex{
	display: flex;
    flex-direction: column;
}
.legend-custom.legend-block{
	margin-left: 0px;
	margin-top: 30px;
}
.legend-custom.legend-block ul li{
	display: inline-block;
}
.chart-clear-padd .form-filter .form-inline .form-group{
	padding-right: 0px;
	padding-left: 0px;
}
.list_results li:last-child{
	display: block;
}
}
@media screen and (max-width: 500px){
.header-left img {
height: 45px;
}
#nav_list{
height: 25px;
}
.buttonset{
width:60px;
}
.container-header{
justify-content: normal;
}
.bg-header {
width: calc(100% - 60px);
}
.header-right ul li{
padding: 0px;
}
.btn_default{
position: initial;
right: 0px;
justify-content: center;
margin-top: 15px;
}
.search_results > h4{
font-size: 17px;
}
.list_results h4{
font-size: 15px;
}
.pagination-cus{
display: block;
}
.pagination-left,.pagination-right{
width:100%;
}
.pagination-right{
text-align: left;
margin-top: 15px;
}
.form-filter .form-inline,.form-filter{
display: block;
}
.frame-box .form-filter .form-inline .form-group{
margin-left: 0px;
}
.chartPie .frame-chart .form-filter .form-inline .form-group{
	padding-left: 15px;
	padding-right: 15px;
}
.form-filter span{
margin-bottom: 10px;
display: block;
}
.frame-box .form-inline .form-group label{
margin: 5px 0px;
}
.form-filter span{
display: none;
}
.text-tab:before,.text-tab:after{
background-size: 40%;
height: 35px;
}
.text-tab {
padding-left: 45px;
}
.footer-menu div:nth-child(1),.footer-menu div:nth-child(2){
width:50%;
}
.footer-menu div:nth-child(3){
width:100%;
}
.footer-logo {
transform: translateX(0%);
left: 0px;
padding-left: 15px;
width:100%;
}
.footer-logo img{
height: 50px
}
.frame-support ul li span {
padding-left: 10px;
}
.frame-support ul li img{
height: 30px;
}
.frame-support{
padding: 10px;
}
.chartPie-box{
	padding: 0 15px;
}
.col-2 {
    width: auto;
}
.list_results{
	padding: 15px;
}
}
@media screen and (max-width: 400px){
.header-left img {
height: 35px;
}
#nav_list {
height: 20px;
}
.buttonset {
width: 50px;
}
.header-right ul li img {
height: 20px;
}
.bg-header {
width: calc(100% - 50px);
}
.container-header, .bg-header {
height: 60px;
}
.menu-tab li{
width:100%;
}
.tab-detail ul li{
width:100%;
}
.frame-support ul li span {
padding-left: 5px;
font-size: 12px;
}
.frame-support ul li img{
height: 20px;
}
}